.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, rgb(12, 66, 136), rgb(92, 136, 233));
    padding: 0px 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.header .n-gradient-text {
    font-size: 24px;
  }
.header .navbar .navbar-list{
    display: flex;
    list-style: none;
}
.header .navbar .navbar-list li{
    padding: 0px 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(226, 218, 218);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.header .navbar .navbar-list li:hover{
    color: aqua;
}
.n-text{
    color: white !important;
}